@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<MyBlog.Models.Article>

@foreach (var item in Model)
{
    <article class="entry">

        <header class="entry-header">

            <h2 class="entry-title">
                <a href="@Url.Action("SinglePost","Home",new { Id = @item.ArticleId })" title="">@item.Title</a>
            </h2>

            <div class="entry-meta">
                <ul>
                    <li>July 12, 2014</li>
                    <span class="meta-sep">&bull;</span>
                    @foreach (var tag in item.Tags)
                    {
                        <li><a href="#" title="" rel="category tag">@tag.Name </a></li>
                    }

                    <span class="meta-sep">&bull;</span>
                    <li>Muhammed Pak</li>
                </ul>
            </div>

        </header>

        <div class="entry-content">
            <p>@item.Content_</p>
        </div>

    </article> <!-- end entry -->

}




